th,td {
	vertical-align: top;
	padding: 2px;
}
th.year {
	font-size: 22px;
	font-weight: bold;
}
th.month {
	font-size: 16px;
	font-weight: bold;
	padding: 4px;
}
th.mon, th.tue, th.wed, th.thu, th.fri, th.sat, th.sun {	
	background-color: cadetblue;
	color: white;
	font-weight: bold;
}
td.day {
	text-align: right;
}
td.day-off {
	text-align: right;
	background-color: tomato;
	color: white;
}
td.pre {
	text-align: right;
	background-color: tan;
}