<!DOCTYPE html>
<html lang="ru">
<head>
	{% block title %}
	{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/mdb.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">

    {% block mycss %}
	{% endblock %}

</head>
<body>
	<main class="mt-4">
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</main>

	<!-- jQuery -->
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="{{ url_for('static',filename='js/mdb.min.js') }}"></script>

	{% block myscripts %}
	{% endblock %}

</body>
</html>