{% extends "base.html" %}
{% block title %}<title>Производственный календарь</title>{% endblock %}

{% block content %}
			<h1>Производственный календарь</h1>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="russian-tab" data-toggle="tab" href="#russian" role="tab" aria-controls="russian"
					aria-selected="true">РФ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="bashkir-tab" data-toggle="tab" href="#bashkir" role="tab" aria-controls="bashkir"
					aria-selected="false">РБ</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="russian" role="tabpanel" aria-labelledby="russian-tab">
					{% include 'ru_calendar.html' %}
				</div>
				<div class="tab-pane fade" id="bashkir" role="tabpanel" aria-labelledby="bashkir-tab">
					{% include 'ba_calendar.html' %}
				</div>
			</div>
{% endblock %}