{% extends "base.html" %}
{% block title %}<title>Youtube downloader</title>{% endblock %}
{% block mycss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/spin.css') }}">
{% endblock %}
{% block content %}
			<div class="input-group">
<!-- 				<div class="input-group-prepend">
					<span class="input-group-text" id="filepathAddon01">Открыть</span>
				</div> -->
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="filepath"
					aria-describedby="filepathAddon01" onchange="addRows(this)">
					<label class="custom-file-label" for="filepath" data-browse="Открыть">Выберите файл</label>
				</div>
			</div>

			<br>
			<table class="table table-sm table-striped">
				<!-- <caption>Список адресов видео</caption> -->
				<tbody id="urls">
				</tbody>
			</table>

			<!-- For printing result from server -->
			<div id="spin"></div>

			<div class="alert alert-success" role="alert" style="display: none;"></div>

			<div class="row" class="text-center">
				<button type="button" class="btn btn-success" onclick="sendData()">Скачать</button>
				<button type="button" class="btn btn-success" onclick="download()">Загрузить архив</button>
			</div>
{% endblock %}
{% block myscripts %}
	<script type="text/javascript" src="{{ url_for('static',filename='js/spin.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/youtube-fl.js') }}"></script>
{% endblock %}