{% extends "base.html" %}
{% block title %}<title>Youtube downloader</title>{% endblock %}
{% block mycss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/spin.css') }}">
{% endblock %}
{% block content %}
			<div>
				<div class="input-group">				
					<input class="form-control form-control-lg" placeholder="Добавьте адрес видео" type="text" id="textValue">
					<div class="input-group-append">
						<button type="button" class="button px-4" onclick="addRow()">+</button>
					</div>
				</div>
			</div>
			<br>
			<table class="table table-sm table-striped">
				<!-- <caption>Список адресов видео</caption> -->
				<tbody id="urls">
				</tbody>
			</table>

			<!-- For printing result from server -->
			<div id="spin"></div>

			<div class="alert alert-success" role="alert" style="display: none;"></div>

			<div class="row" class="text-center">
				<button type="button" class="btn btn-success" onclick="sendData()">Скачать</button>
				<button type="button" class="btn btn-success" onclick="download()">Загрузить архив</button>
			</div>
{% endblock %}
{% block myscripts %}
	<script type="text/javascript" src="{{ url_for('static',filename='js/spin.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/youtube.js') }}"></script>
{% endblock %}