{% extends "base.html" %}
{% block title %}<title>Youtube downloader</title>{% endblock %}
{% block mycss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/spin.css') }}">
{% endblock %}
{% block content %}
			<div>				
				<input class="form-control form-control-lg" placeholder="Введите адрес плейлиста" type="text" id="textValue">
			</div>
			<br>

			<!-- For printing result from server -->
			<div id="spin"></div>

			<div class="alert alert-success" role="alert" style="display: none;"></div>

			<div class="row" class="text-center">
				<button type="button" class="btn btn-success" onclick="sendData()">Скачать</button>
				<button type="button" class="btn btn-success" onclick="download()">Загрузить архив</button>
			</div>
{% endblock %}
{% block myscripts %}
	<script type="text/javascript" src="{{ url_for('static',filename='js/spin.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/youtube-pl.js') }}"></script>
{% endblock %}